
<%= render 'layouts/nav_bar' %>

	<!-- heading -->
	<div class="row" style="text-align:center;">
		<h1>Edit Problem</h1>
	</div>

<<<<<<< HEAD

<%= render 'layouts/center' %>
=======
	<!-- form -->
	<div style="text-align:center;">
		<%= render 'form' %>
	</div>

	<div style="text-align:center;">
		<%= link_to 'Back', problems_path %>
	</div>

</div>
>>>>>>> 638fb574caa9d30921a299ac5bb31fee00760e35
