<div class="jumbotron" style="background-color:#e74c3c">
	<div class="container">

		<h1>Welcome to Rails Overflow</h1>
	</div>
</div>
<h2>Stack on Rails Project</h2>
<%= link_to 'Click Here', problems_path %>