<p>
  <strong>Title:</strong>
  <%= @problem.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @problem.text.html_safe %>
</p>
<p>
  <strong>Picture:</strong>
  <%= @problem.screenshot %>
</p>
<%= link_to 'Back', problems_path %>