
<p><strong>Solution:</strong>
<% @solutions.each do |solution| %>
  <tr>
  <td><%= solution.text %></td>
  <td><%= pluralize(solution.votes.count, "vote") %></td>
  <td><%= button_to '+1', upvote_problem_solution_path(solution), method: :post %></td>
  </tr>
  <% end %>
</p>

<p>
  <%= link_to 'Delete solution', [solution.problem, solution],
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
</p>