
<p><strong>Solution:</strong>
  <%= solution.text %>
  <%= solution.downvote %>
</p>

<p>
  <%= link_to 'Destroy Comment', [solution.problem, solution],
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
</p>