<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "RailsOverflow" %></title>
  <%= csrf_meta_tags %>
  

</head>
<!-- heading and welcome -->
<div class="jumbotron" style="background-color:#e74c3c">
  <div class="container">
    <h1 style="color:white; text-align:center">Welcome to Rails Overflow</h1>
  </div>
</div>

<!-- row container links to other problems -->
<div class="row" >
  <div class="container col-md-6" style="text-align:center">

   <h2>Stuck on Rails Project</h2>

   <div class="btn btn-default " type="button" >
    <%= link_to 'Click Here', problems_path %>
  </div>

</div>

<div class="container col-md-6" style="text-align:center">
  <h1>  About</h1>
    <p>Rails Overflow is a question and answer site for professional and enthusiast Ruby on Rails programmers. It's 100% free, no registration required. </p>
</div>
</div>









<body>

</body>
</html>
